:root {
    --primary-color: #000000;
    --secondary-color: #FFFFFF;
    --tertiary-color: #80149A;
}
body {
   background-color: var(--primary-color);
   color: var(--secondary-color);
}
h2 {
    color: var(--tertiary-color);
}
/*Header*/
h1{
    align-self: center;
}
a, ul{
    text-decoration: none;
    list-style-type: none;
    color: var(--secondary-color);
}
a:hover{
    color: var(--secondary-color);
    text-decoration: underline;
}
ul{
    display: flex;
    justify-content: space-between;
    align-content: baseline;
    margin-bottom: 0%;
}
li{
    padding-right: 2rem;
}
header {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border-bottom: solid var(--secondary-color) ;
    margin-bottom: 5px;
    display: flex;
    flex-direction: row;
}